In [18]:
import pandas as pd
import numpy as np

In [2]:
df_pokemons = pd.read_csv('main_Pokemon.csv')

In [3]:
df_pokemons

,trainer_id,place,pokename,pokelevel,type1,type2,hp,maxhp,attack,defense,spatk,spdef,speed
0,0,0,Smeargle,60,Normal,None,157,157,50,68,50,80,116
1,1,0,Smeargle,30,Normal,None,83,83,27,36,27,42,60
2,2,0,Wailord,57,Water,None,281,281,128,76,128,76,93
3,2,1,Vileplume,57,Grass,Poison,173,173,116,122,150,128,82
4,3,0,Armaldo,47,Rock,Bug,144,144,139,115,87,97,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28799,11859,1,Skiploom,50,Grass,Flying,133,133,68,73,68,88,103
28800,11859,2,Sealeo,50,Ice,Water,168,168,83,93,98,93,68
28801,11859,3,Lombre,50,Water,Grass,138,138,73,73,83,93,73
28802,11859,4,Poliwhirl,50,Water,None,143,143,88,88,73,73,113
28803,11859,5,Marill,50,Water,Fairy,148,148,43,73,43,73,63

In [28]:
def pokemon_list():
    import pandas as pd
    import numpy as np
    df_pokemons = pd.read_csv('main_Pokemon.csv')
    print('Which letter starts the name of Pokemon you are looking for?')
    try:
        s_letter = input().capitalize()
        pokelist = df_pokemons[df_pokemons.pokename.str.startswith(s_letter)]["pokename"].unique()
        print(np.array(pokelist))
    except ValueError:
        print('I do not think we have any Pokemon which name start with letter {}.'.format(s_letter))

In [29]:
pokemon_list()

Which letter starts the name of Pokemon you are looking for?
g
['Gloom' 'Goldeen' 'Golduck' 'Graveler' 'Gardevoir' 'Girafarig' 'Gastly'
 'Gengar' 'Grotle' 'Gastrodon' 'Gyarados' 'Glameow' 'Granbull' 'Glalie'
 'Gligar' 'Gliscor' 'Growlithe' 'Gabite' 'Grumpig' 'Gothorita'
 'Galvantula' 'Gallade' 'Gothita' 'Golurk' 'Golem' 'Goomy' 'Grimer'
 'Goodra' 'Garbodor' 'Gorebyss' 'Golbat' 'Groudon' 'Geodude' 'Grovyle'
 'Gogoat' 'Gigalith' 'Gurdurr' 'Gulpin' 'Golett' 'Garchomp' 'Gible'
 'Glaceon' 'Gothitelle']

In [20]:
def pokemonA():
    import pandas as pd
    df_pokemons = pd.read_csv('main_Pokemon.csv')
    global name_a, level_a, speed_a, hp_a, def_a, type_a, att_a
    while True:
        print('Enter name of Pokemon A.')
        name_a = str(input()).capitalize()
        if name_a in list(df_pokemons['pokename']):
            while True:
                print('What is it\'s level?')
                level_a = input()
                try:
                    level_a = int(level_a) 
                    speed_a = int(df_pokemons[(df_pokemons['pokename'] == name_a) & (df_pokemons['pokelevel'] == level_a)]['speed'].mean())
                    hp_a = int(df_pokemons[(df_pokemons['pokename'] == name_a) & (df_pokemons['pokelevel'] == level_a)]['hp'].mean())
                    attack_a = int(df_pokemons[(df_pokemons['pokename'] == name_a) & (df_pokemons['pokelevel'] == level_a)]['attack'].mean())
                    def_a = int(df_pokemons[(df_pokemons['pokename'] == name_a) & (df_pokemons['pokelevel'] == level_a)]['defense'].mean())
                    type_a = str(df_pokemons[(df_pokemons['pokename'] == name_a) & (df_pokemons['pokelevel'] == level_a)]['type1'].unique()[0])
                    print('{} on level {}: \nType = {} \nHP = {} \nDefense = {} \nSpeed = {}'.format(name_a, level_a, type_a, hp_a, def_a, speed_a))
                    break
                except ValueError:
                    print("Oops! I don't think we got {} on level {} is in the archive.".format(name_a,level_a))
            break
        else: 
            print("Oops! I don't think we got such Pokemon archive.")

In [39]:
def create_pokemon():
    import pandas as pd
    df_pokemons = pd.read_csv('main_Pokemon.csv')
    while True:
        print('Enter name of Pokemon.')
        name = str(input()).capitalize()
        if name in list(df_pokemons['pokename']):
            while True:
                print("Enter this {}'s level.".format(name))
                level = input()
                try:
                    level = int(level) 
                    speed = int(df_pokemons[(df_pokemons['pokename'] == name) & (df_pokemons['pokelevel'] == level)]['speed'].mean())
                    hp = int(df_pokemons[(df_pokemons['pokename'] == name) & (df_pokemons['pokelevel'] == level)]['hp'].mean())
                    att = int(df_pokemons[(df_pokemons['pokename'] == name) & (df_pokemons['pokelevel'] == level)]['attack'].mean())
                    defense = int(df_pokemons[(df_pokemons['pokename'] == name) & (df_pokemons['pokelevel'] == level)]['defense'].mean())
                    type1 = str(df_pokemons[(df_pokemons['pokename'] == name) & (df_pokemons['pokelevel'] == level)]['type1'].unique()[0])
                    print('{} on level {}: \nType = {} \nHP = {} \nDefense = {} \nSpeed = {}'.format(name, level, type1, hp, defense, speed))
                    return type1, name, level, speed, hp, defense, att
                except ValueError:
                    print("Oops! I don't think we got {} on level {} is in the archive.\nWould you like to choose other Pokemon?".format(name, level))
                    answer = input().capitalize()
                    if answer == 'Yes':
                        break
        else: 
            print("Oops! I don't think we got such Pokemon archive.")

In [ ]:
pokemon_b = create_pokemon()

Enter name of Pokemon.

Oops! I don't think we got such Pokemon archive.
Enter name of Pokemon.
d
Oops! I don't think we got such Pokemon archive.
Enter name of Pokemon.
bulbasaur
Enter this Bulbasaur's level.
40
Oops! I don't think we got Bulbasaur on level 40 is in the archive.
Would you like to choose other Pokemon?
yes
Enter name of Pokemon.
bulbasaur
Enter this Bulbasaur's level.
40
Oops! I don't think we got Bulbasaur on level 40 is in the archive.
Would you like to choose other Pokemon?
no
Enter this Bulbasaur's level.

In [ ]:
print(pokemon_b)