In [87]:
import json
import os
import cv2 as cv

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [88]:
data = pd.read_json('malaria/training.json')
data.head()

,image,objects
0,{'checksum': '676bb8e86fc2dbf05dd97d51a64ac0af...,"[{'bounding_box': {'minimum': {'r': 1057, 'c':..."
1,{'checksum': '1225a18efce159eddf7b0e80e0ea642c...,"[{'bounding_box': {'minimum': {'r': 734, 'c': ..."
2,{'checksum': '3eaf840523c30fdf38897ffa01e194eb...,"[{'bounding_box': {'minimum': {'r': 724, 'c': ..."
3,{'checksum': '8a111dffacfa433029492780b9535091...,"[{'bounding_box': {'minimum': {'r': 563, 'c': ..."
4,{'checksum': 'ccef403e971460b86444cca669e68ca1...,"[{'bounding_box': {'minimum': {'r': 618, 'c': ..."

### Reformatting the dataset

In [89]:
columns = ['pathname','minimum_r','minimum_c','maximum_r','maximum_c','category']
data_reformatted = []
data_reformatted

[]

In [90]:
data_reformatted = []
for k in range(len(data['objects'])):
    for l in range(len(data['objects'][k])):
        line = [data['image'][k]['pathname'],
                data['objects'][k][l]['bounding_box']['minimum']['r'],
                data['objects'][k][l]['bounding_box']['minimum']['c'],
                data['objects'][k][l]['bounding_box']['maximum']['r'],
                data['objects'][k][l]['bounding_box']['maximum']['c'],
                data['objects'][k][l]['category']]
        data_reformatted.append(line)
data_correct = pd.DataFrame(data_reformatted,columns=columns)

### CSV dump

In [94]:
data_correct.to_csv('data_correct.csv')

In [92]:
data_correct

,pathname,minimum_r,minimum_c,maximum_r,maximum_c,category
0,/images/8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,1057,1440,1158,1540,red blood cell
1,/images/8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,868,1303,971,1403,red blood cell
2,/images/8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,578,900,689,1008,red blood cell
3,/images/8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,304,611,408,713,red blood cell
4,/images/8d02117d-6c71-4e47-b50a-6cc8d5eb1d55.png,198,881,312,1003,red blood cell
...,...,...,...,...,...,...
80108,/images/99e979d4-ee97-4d7f-9da6-00bead40db4d.png,757,520,873,595,red blood cell
80109,/images/99e979d4-ee97-4d7f-9da6-00bead40db4d.png,308,808,406,900,trophozoite
80110,/images/99e979d4-ee97-4d7f-9da6-00bead40db4d.png,510,453,595,570,red blood cell
80111,/images/99e979d4-ee97-4d7f-9da6-00bead40db4d.png,0,1260,87,1344,red blood cell
80112,/images/99e979d4-ee97-4d7f-9da6-00bead40db4d.png,740,0,852,100,red blood cell